Package: triplegeo-service
Version: 0.3.0
Source: triplegeo-service
Architecture: all
Section: web 
Priority: optional
Maintainer: Alejandra Garcia-Rojas M <alejandra.garciarojas@ontos.com>
Build-Depends: debhelper (>= 8.0.0)
Depends: tomcat7
Standards-Version: 3.9.4
Homepage: https://github.com/GeoKnow/Service-TripleGeo
Vcs-Git: git@github.com:GeoKnow/TripleGeo-Service.git
Description: Web service for TripleGeo.
 A web service for TripleGeo https://github.com/GeoKnow/TripleGeo
 for transforming several shape formats in RDF standards.
