<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TripleGeo-Service</display-name>

<multipart-config>
    <!-- Maximum file size to be uploaded 1024 * 1024 * 1024 </description> -->
    <max-file-size>1073741824</max-file-size>
    <max-request-size>1073741824</max-request-size>
    <file-size-threshold>0</file-size-threshold>
</multipart-config>

</web-app>